<p>
  Hello <%= @draw.giver.name %>,
</p>

<p>
 "<%= @draw.event.title %>" is ON!
</p>

<p>
This is a "Secret Santa" event. Please keep your gift assignments a secret.
</p>

<p>
You have been assigned to be Secret Santa for <b><%= @draw.receiver.name %></b>!
</p>

<% if @draw.event.amount? and not @draw.event.amount.empty? %>
The suggested price limit for the gift is: <b><%= @draw.event.amount %></b>.
<% end %>

<p>
If you run into any snags, Nate Flint, from Oxbow Labs has kindly his services as Chief Technical Elf. 
</p>

<p>
Feel free to email him at <a href="mailto:nate@oxbowlabs.com">nate@oxbowlabs.com</a>.
</p>